@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.border-bottom-pink {
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.75);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.75);
}

.border-green {
  box-shadow: 0px 0px 0px 2px #A1C59F;
  -webkit-box-shadow: 0px 0px 0px 2px #A1C59F;
  -moz-box-shadow: 0px 0px 0px 2px rgba#A1C59F;
}

.react-grid-item:hover {
  z-index: 10;
}

.flipCard {
  position: relative;
}

.flipCard .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.flipCard .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.darkerBg {
  background-color: transparent;
}

.darkerBg:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
